@keyframes popUp {
    from {
        opacity: 0;
        
    }
    to {
       
        opacity: 1;
    }
}
@keyframes slideToLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideToRight {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
#presentation{
    height: 90vh;
}
#title{
    animation: popUp 3s ease-in-out 1s 1 normal backwards ;
}
#ThomasPresentation{
    animation: slideToRight 3s ease-in-out 1s 1 normal backwards ;
}
#AlexPresentation{
    animation: slideToLeft 3s ease-in-out 1s 1 normal backwards ;
}