<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="w-full h-full max-h-screen bg-BackgroundColor overflow-hidden">
    <div class="">
      <app-navbar></app-navbar>
      <div id="main-container" class="w-full h-60vh flex flex-row text-white">
        <div id="home-quote" class="h-full flex items-center m-2">
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur. Sem arcu tincidunt orci
            egestas dictumst pharetra fermentum. Sed in dolor porta nisl.
          </p>
        </div>
        <iframe
          src="https://my.spline.design/portpholioanimation-8db13bda39aba57db36ab281e0861c03/"
          frameborder="0"
          width="100%"
          height="100%"
        ></iframe>
      </div>
    </div>
  </body>
</html>
