<div
  id="cell"
  class="relative h-[64vh] w-[37vh] m-[15vh] bg-[rgb(35,35,35)] border-[3px] border-b-[30px] rounded-[3.72vh] rounded-b-[3.72vh]"
>
  <div class="h-full w-full flex flex-col justify-end">
    <div id="messages" class="flex flex-col justify-end h-4/5">
      <div class="scroll" #chatScroll>
        <app-chat-message
          *ngFor="let message of chatMessages"
          [sender]="message[0]"
          [pMessage]="message[1]"
        ></app-chat-message>
      </div>
    </div>
    <div class="">
      <div id="input-container" class="flex border rounded mt-2 p-1 bg-white">
        <textarea
          id="input-field"
          type="text"
          tabindex="0"
          rows="1"
          placeholder="Send a message!"
          class="message-input w-full p-2 bg-none border-none outline-none resize-none"
          required
          [(ngModel)]="message"
          (keydown.enter)="sendMessage()"
          #textarea
        ></textarea>
        <button
          type="submit"
          class="items-center justify-center rounded-lg p-2"
          (click)="sendMessage()"
          #sendButton
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>
