<div class="flex-1 flex flex-col h-[700px] w-full">
  <div id="messages" class="flex flex-col justify-end h-3/5">
    <div class="scroll" #chatScroll>
      <app-chat-message
        *ngFor="let message of chatMessages"
        [sender]="message[0]"
        [pMessage]="message[1]"
      ></app-chat-message>
    </div>
  </div>
  <div class="border-t-2 border-gray-200">
    <div id="input-container" class="flex border">
      <textarea
        type="text"
        tabindex="0"
        rows="1"
        placeholder="Send a message!"
        class="message-input w-full p-2 bg-none border-none outline-none resize-none"
        required
        [(ngModel)]="message"
      ></textarea>
      <button
        type="submit"
        class="items-center justify-center rounded-lg p-2"
        (click)="sendMessage()"
      >
        Send
      </button>
    </div>
  </div>
</div>
