.scroll {
  overflow-y: auto;
}
#cell {
  box-shadow: 0 2px 0 5px var(--case-color);
}

#cell::after {
  background-color: black;
  border: 1px solid rgba(235, 235, 235, .2);
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .6);
  content: '';
  left: 40%;
  position: absolute;
  
  top: 1.265vh;
  height: 2vh;
  width: 8vh;
  z-index: 1;
}

#cell::before {
  content: '';
  background-color: rgba(235, 235, 235, .2);
  bottom: 49.765%;
  top: 49.765%;
  filter: blur(8px);
  left: 0;
  right: 0;
  position: absolute;
  transform: rotate(-65.5deg) skewX(43.5deg) scaleX(1.936);
}

