<nav class="w-full bg-navBackColor">
  <div
    id="nav-content"
    class="w-full flex flex-row justify-between items-baseline"
  >
    <div>
      <a routerLink="/home">
        <p class="font-semibold text-black p-2">GPT</p>
      </a>
    </div>
    <ul id="link-container" class="flex flex-row justify-around p-1">
      <li>
        <a routerLink="/home" class="text-black p-2">Home</a>
      </li>
      <li>
        <a routerLink="/aboutus" class="text-black p-2">About us</a>
      </li>
    </ul>
  </div>
</nav>
