<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="">
    <div class="overflow-hidden w-full h-full relative">
      <app-navbar></app-navbar>
      <div
        id="gpt-container"
        class="flex flex-row justify-around h-full w-full items-center bg-grey"
      >
        <div id="button-container" class="h-40 flex flex-col justify-around">
          <button mat-raised-button class="p-2">Download Model</button>
          <button mat-raised-button class="p-2">Injest Data</button>
        </div>
        <app-chatbox class=""> </app-chatbox>
      </div>
    </div>
  </body>
</html>
